@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
}
/*Hide scrollbar for Chrome, Safari */
body::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /*Hide scrollbar for IE, Edge*/
  scrollbar-width: none; /*Hide scrollbar for Firefox*/
}
